body {
    overflow: hidden;
}

.prato1 {
    z-index: 1;
    transform: rotate(13deg);
}

.prato2 {
    position: relative;
    z-index: 1;
    transform: rotate(0deg);
    top: -25px;
    left: -15px;
}

.prato3 {
    z-index: 2;
    margin-right: 100px;
    position: relative;
    top: -15px;
}

.btn.btn.btn {
    width: 3%;
}

#btn1{ /*prato 1*/
    z-index: 3;
    position: absolute;
    top: 10%;
    left: 31%;
}

#btn2{ /*prato 2*/
    z-index: 3;
    position: absolute;
    top: 3%;
    right: 38%;
}

#btn3{ /*tom-tom 1*/
    z-index: 3;
    position: absolute;
    top: 27%;
    right: 55%;
}

#btn4{ /*tom-tom 2*/
    z-index: 3;
    position: absolute;
    top: 27%;
    right: 45%;
}

#btn5{ /*surdo*/
    z-index: 3;
    position: absolute;
    top: 42%;
    right: 58%;
}

#btn6{ /*bumbo*/
    z-index: 3;
    position: absolute;
    top: 62%;
    right: 52%;
}

#btn7{ /*caixa*/
    z-index: 3;
    position: absolute;
    top: 38%;
    right: 41%;
}

#btn8{ /*chimbau*/
    z-index: 3;
    position: absolute;
    top: 24%;
    right: 28%;
}